<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="loggedIn()">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>

      <div dropdown *ngIf="loggedIn()"class="btn-group" >
        <button dropdownToggle type="button" class="btn btn-light dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{auth.decodeToken?.unique_name | titlecase}}
        </button>
        <ul *dropdownMenu class="dropdown-menu mt-2" >
          <li><a class="dropdown-item" ><i class="fa fa-user" ></i>Edit Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
        </ul>
      </div>

      <form #loginform="ngForm" *ngIf="!loggedIn()" class="d-flex" (ngSubmit)="login()">
        <input class="form-control me-2" type="text" placeholder="Username" aria-label="Search" 
        name="username" [(ngModel)]="model.username" required>
        <input class="form-control me-2" type="password" placeholder="Password" aria-label="Search"
        name="password" [(ngModel)]="model.password" required>
        <button [disabled]="!loginform.valid" class="btn btn-light" type="submit">Login</button>
      </form>
    </div>
  
</nav>